@font-face{
	font-family: "Ahroni";
	src:url("ahroni.ttf");
}
@font-face{
	font-family: "corbel";
	src:url("corbel.ttf");
}
@font-face{
	font-family: "eras";
	src:url("eras.ttf");
}

@font-face{
	font-family: "1942";
	src:url("1942.ttf");
}

@font-face{
	font-family: "lane1";
	src:url("LANECANE.ttf");
}

@font-face{
	font-family: "lane2";
	src:url("LANENAR.ttf");
}
@font-face{
	font-family: "lane3";
	src:url("LANEPOSH.ttf");
}
@font-face{
	font-family: "lane4";
	src:url("LANEUP__.ttf");
}
@font-face{
	font-family: "liorah";
	src:url("liorah.ttf");
}

*{
	font-family: 'lane2';
}
